:root {
  --mainDarkBlue: #1a2a3a;
  --secoundDarkBlue: #2c3e50;
  --mainBlack: #000000;
  --secoundBlack: #111111;
  --mainWhite: #ffffff;
  --mainLightBlue: #3498db;
  --headerNavA: #219aeb;
  --mainTitle: montserrat, sans-serif;
  --secondTitle: poppins, sans-serif;
  --mainText: Open Sans, sans-serif;
  --secindText: Roboto, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red 1px solid; */
}
body {
  background-color: var(--mainWhite);
}
/*Header */
.mainHeader {
  background-image: linear-gradient(rgba(26, 42, 58, 0.8), rgba(44, 62, 80, 0.8)), url(../Imagens/backgroundMainHeader.avif);
  width: 98.9vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.navBar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  font-family: var(--mainText);
  position: sticky;
  top: 0;
}
.barLinks {
  padding: 1em;
}
.barLinks a {
  padding: 1em;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.barLinks a,
.barLogin a {
  color: var(--mainWhite);
  text-decoration: none;
}
.barLinks a:hover {
  color: var(--headerNavA);
  font-size: 1.2em;
  text-shadow: 0px 0px 8px rgba(255,255,255,0.6);
}
.barLinks a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--headerNavA);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);

}
.barLinks a:hover::after {
  width: 100%;
}
.barLinks a:hover {
  background-color: rgba(255,255,255,0.2);
  padding: 1.2em;
  border-radius: 8px;

}
.mainText {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.mainText h1{
  font-size: 3em;
  color: var(--mainWhite);
  font-family: Montserrat, sans-serif;
  font-size: 7em;
}
.mudarCor {
  animation: changeColor 2s ease-in-out forwards;
  animation-delay: 1s;
}
.teste {
  height: 300vh;
}
/* Main */
main {
  margin-top: 7em;
}
#sobreSite {
  display: flex;
  color: var(--mainBlack);
  padding: 2em;
}
.titleSobreSite {
  font-family: var(--secondTitle);
  font-size: 2em;
  margin-bottom: 1em;
}
.textSobreSite {
  font-family: var(--mainText);
  font-size: 1.2em;
}
.imgSobreSite {
  margin-top: 2em;
  border-radius: 90px;
  position: absolute;
  width: 60%;
  height: auto;
  transition: transform 0.3s ease;
}
.galeria {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.halteres {
  left: 0;
  top: -90px;
  left: 220px;
  z-index: 1;
  animation: imgFlutuante 10s ease-in-out infinite;
}
.homemHaltere {
  left: 20px;
  top: -180px;
  z-index: 2;
  animation: imgFlutuante 5s ease-in-out infinite;
}
.mulherCorda {
  left: 150px;
  top: -70px; 
  z-index: 3;
  animation: imgFlutuante 15s ease-in-out infinite;
}

/* Footer */
/* Animações */
@keyframes changeColor{
  0%{
    color: var(--mainWhite);
  }
  100%{
    color: var(--mainLightBlue);
  }
}
@keyframes imgFlutuante {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*  Sayori morta kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk*/
/* Para de balançar com o vento ai em cima Sayori klkkkkkkkkkkkkkkkk*/
/*Header difícil da poha vsf*/
